.nav{
    background-color: aqua;
    margin: 0;
    padding: 40px;
    font-size: medium;
}
ol{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
li{
    font-size: 30px;
}
a{
    text-decoration: none;
}